DATABASE_URL="postgresql://user:password@host:5432/thunder?sslmode=require"
API_PORT=3001
EMBY_PUBLIC_BASE_URL="https://thunder.example.com"
EMBY_EMOS_BASE_URL="https://emos.best"
EMBY_EMOS_TOKEN="your_emos_token"
EMBY_TMDB_API_TOKEN="your_tmdb_api_token"
QWEATHER_API_HOST="nb33jqkfhv.re.qweatherapi.com"
QWEATHER_KEY_ID="your_key_id"
QWEATHER_PROJECT_ID="your_project_id"
QWEATHER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT\n-----END PRIVATE KEY-----"
TURNSTILE_SECRET_KEY="0x4AAAAAADLVkxgQJBwBAyqRJ29fkp_QkgE"
