DATABASE_URL="file:../../../data/app.db"
API_PORT=3001
QWEATHER_API_HOST="nb33jqkfhv.re.qweatherapi.com"
QWEATHER_KEY_ID="your_key_id"
QWEATHER_PROJECT_ID="your_project_id"
QWEATHER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT\n-----END PRIVATE KEY-----"
